#image {
  border-radius: 50%;
  width: 300px;
  border: 8px solid #efb0c9;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Happy Monkey", system-ui;
  color: #ffffff;
}

body {
  background: linear-gradient(lightskyblue,white);
}

h1,
h2,
h3,
h4,
p {
  text-shadow: 0 0 2px black;
}
#bday-age {
  background: #efb0c9;
  padding: 6px 10px;
  border-radius: 7px;
}
#bday-date {
  background: #efb0c9;
  padding: 8px;
  border-radius: 7px;
  margin-top: -8px;
}

.gift-image {
  border: 5px solid whitesmoke;
  border-radius: 10px;
  width: 500px;
  height: 500px;
  background-image: url("gift-cover.jpg");
  background-size: cover;
  margin: 20px auto;
}
.gift-image:hover{
  background-image: url("congratulations-1173_512.gif");
  background-size: cover;
}

#gift-image1:hover{
  background: url("celebrating-zeltlager-werreweser.gif");
  background-size: cover;
}
#gift-image2:hover{
  background: url("dj-khaled-you-a-genius.gif");
  background-size: cover;
}
#gift-image3:hover{
  background-image: url("saturday-night-live-lonely-island.gif");
  background-size: contain;
}
#gift-image4{
  height: 200px;
}
#gift-image4:hover{
  background-image: url("cheers-toast.gif");
  background-size: contain;
}
.gift-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Happy Monkey", system-ui;
  color: #ffffff;
  margin-bottom: 0px;
}

#bday-hints{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Happy Monkey", system-ui;
  color: #ffffff;
  margin-top: 0px;
}
.gift-section{
text-align: center;
}

#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Happy Monkey", system-ui;
  color: #ffffff;
  margin: 40px auto 20px;
  width: 400px;
}
a{
  color: white;
}
p{
  font-style: italic;
}